<section class="about-me">
    <!--<div *ngif="usuario"> -->
        <div class="row">
            <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
                <img src = "assets/FotoPerfil.png" class="img-fluid" id="fotoperfil">
            </div>
                <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
                    <p id="nombre"> Florencia Campusano</p>
                    <p id="descripcion"> Developer Jr.</p>
                </div>

            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                <div class="container bg-secondary p-2 text-dark bg-opacity-75 border border-5 shadow-lg" id="aboutme">     
                    <span>
                        <h2 class="text-about fw-bold text-center">Sobre Mi </h2>
                        <p class="text-pp fw-bold">
                        descripcion
                        </p>
                    </span>
                </div>
            </div>
        </div>
    <!--/div> -->
</section>
